.carousel-inner{
    padding:0px;
   list-style:none;

}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #ffff99;
}

#sign-in {
    color: white;
    font-size: 60px;
}

input#user_username, input#user_email, input#user_password, #signin-input{
    padding: 7px;
    border: solid 5px #0288D1;
    margin: 2px;
    color: black;
    width: 375px;
}
select#occasion.form-control {
    padding: 7px;
    border: solid 5px #0288D1;
    background-color: white;
    margin: 2px;
    color: black;
    width: 300px;
}

#user-welcome {
    color: white;
    font-size: 80px;
}

.gray-text {
    color:gray;
}

/* Background image for front page */
html body { 
    background: url("boxes.png") no-repeat center;
    background-position: 50% 200px;
    background-color: lightblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

