/* Gift Carousel CSS */
.carousel-inner{
    padding:0px;
   list-style:none;

}
.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 48px;
    height: 48px;
    margin: 10px;
    background-color: #ffff99;
}

#sign-in {
    color: white;
    font-size: 60px;
}
input#user_username, input#user_email, input#user_password, #signin-input{
    padding: 7px;
    border: solid 5px #0288D1;
    background-color: white;
    margin: 2px;
    color: black;
    font-size: 18px;
    width: 375px;
}
select#occasion.form-control {
    padding: 7px;
    border: solid 5px #0288D1;
    background-color: white;
    margin: 2px;
    color: black;
    width: 300px;
}

/* Welcome page*/
#user-welcome {
    color: white;
    font-size: 80px;
}

.gray-text {
    color:gray;
}

/* Background image for front page */
html body { 
    background-color: lightblue;
    background-size: contain;
}
.welcome-button {
    height: 40px; 
    width: 100px;

}
#splash {
    color:white;
    text-decoration: none;
} 
.tag-line {
    text-align: center;
    margin-top:200px;
    margin-bottom:100px;
}
.tag-line h1 {
    font-size: 80px;
    color: white;
}
.btn-lg {
    width: 250px; 
    height:50px;
}




/* Cards for text on pages */
.card-autosize {
    width: auto;
    padding: .25em;
}

/* Styling from Christ */
body {  

}

.welcome-button {
    height: 40px; 
    width: 100px;

}

#splash {
    color:white;
    text-decoration: none;
} 

.welcome-bg{
    position: absolute; height: 100%; width: 100%;
    background-size: contain;
    background-size: 100% 100%;
}

.tag-line {
    text-align: center;
    margin-top:200px;
    margin-bottom:100px;
}

.tag-line h1 {
    font-size: 80px;
    color: white;
}

.btn-lg {
    width: 250px; 
    height:50px;
}

