body {	

}

.welcome-button {
	height: 50px; 
	width: 100px;

}

#splash {
    color:white;
    text-decoration: none;
} 

.welcome-bg{
	background: url(cup.jpg) no-repeat center fixed;
	position: absolute; height: 100%; width: 100%;
	background-size: contain;
	background-size: 100% 100%;
}

.tag-line {
	text-align: center;
	margin-top:200px;
	margin-bottom:100px;
}

.tag-line h1 {
	font-size: 80px;
	color: white;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: #03A9F4;
    border: 3px solid #428bca;
    color: white;
    height: 50px; 
	width: 300px;
}

.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: white;
    background: steelblue;
    border-color: #428bca;

}

.btn-outlined.btn-success {
    background: none;
    border: 3px solid #5cb85c;
    color: #5cb85c;
}
.btn-outlined.btn-success:hover,
.btn-outlined.btn-success:active {
    color: #FFF;
    background: #47a447;
}

.btn-outlined.btn-info {
    background: none;
    border: 3px solid #5bc0de;
    color: #5bc0de;
}
.btn-outlined.btn-info:hover,
.btn-outlined.btn-info:active {
    color: #FFF;
    background: #39b3d7;
}

.btn-outlined.btn-warning {
    background: none;
    border: 3px solid #f0ad4e;
    color: #f0ad4e;
}
.btn-outlined.btn-warning:hover,
.btn-outlined.btn-warning:active {
    color: #FFF;
    background: #ed9c28;
}

.btn-outlined.btn-danger {
    background: none;
    border: 3px solid #d9534f;
    color: #d9534f;
}
.btn-outlined.btn-danger:hover,
.btn-outlined.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}