<%= render partial: "/layouts/navbar" %>

<h2 class="card card-general card-title">We're glad you came to our site!</h2>

<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#about">About</a></li>
  <li><a data-toggle="tab" href="#team">Team</a></li>
</ul>

<div class="tab-content">
  <div id="about" class="tab-pane fade in active">
    <h3>About</h3>
    <p>Some content in about.</p>
  </div>
  <div id="team" class="tab-pane fade">
    <h3 class="card card-general card-names">Team</h3>
    <p>
    	<ul>
    		<li><p class="card card-general card-names">Mikey Pawell</p></li>
    		<li><p class = "card card-general card-names">Chris Dawson</p></li>
    		<li><p class = "card card-general card-names">Racha Bia</p></li>
    		<li><p class = "card card-general card-names">Francesca Long</p></li>
    	</ul>
    </p>
  </div>
</div>
<div>

