<%= render partial: "/layouts/navbar" %>

<div>

<h2  class="card card-autosize">We're glad you came to our site! This is who we are. </h2>
	<br><br><br>
	<p class = "card card-autosize">Mikey Pawell</p>
	<br><br><br>
	<p class = "card card-autosize">Chris Dawson</p>
	<br><br><br>
	<p class = "card card-autosize">Racha Bia</p>
	<br><br><br>
	<p class = "card card-autosize">Francesca Long</p>

</div>
