<%= render partial: "/layouts/navbar" %>

<div>

  We're glad you came to our site! This is who we are.
	<br><br><br>
	Mikey Pawell
	<br><br><br>
	Chris Dawson
	<br><br><br>
	Racha Bia
	<br><br><br>
	Francesca Long

</div>