<%= render partial: "/layouts/navbar" %>
<div class="container">
  
<ul class="nav nav-tabs nav-justified">
  <li id="abouttab"><a data-toggle="tab" href="#about">About</a></li>
  <li id="teamtab"><a data-toggle="tab" href="#team">Team</a></li>
</ul>
<div class="tab-content">
  <div id="about" class="tab-pane fade in active">
    <br>
    <h3 class="aboutus center">About The Perfect Gift</h3>
    <p class="aboutus">Do you have people you hate to shop for? What do you get for grandma? How about dad? That teenage cousin who seems to like different things every week. What do you get for your boss or your friend's dog or your mailman? You have no idea what to get. We have a solution for you! <br><br>

    On our site, you can search for gifts for anyone for any occasion. Just enter in your recipient and some general search criteria. You will be able to save all of your ideas and contemplate the possibilities. When you find the ideal item, you can purchase the perfect gift for your special someone. <br><br>

    Have fun shopping!</p>
    <br>
  </div>
  <div id="team" class="tab-pane fade">
    <h3>Team</h3>
    <p>
    	<ul>
    		<li><p>Mikey Pawell</p></li>
    		<li><p>Chris Dawson</p></li>
    		<li><p>Racha Bia</p></li>
    		<li><p>Francesca Long</p></li>
    	</ul>
    </p>
  </div>
</div>

</div>
