<%= render partial: "/layouts/navbar" %>

<div>

<h2 class="card card-general card-title">We're glad you came to our site! This is who we are. </h2>
	<br><br><br>
	<p class="card card-general card-names">Mikey Pawell</p>
	<br><br><br>
	<p class = "card card-general card-names">Chris Dawson</p>
	<br><br><br>
	<p class = "card card-general card-names">Racha Bia</p>
	<br><br><br>
	<p class = "card card-general card-names">Francesca Long</p>

</div>
